# dependencies
node_modules
.pnp
.pnp.js

# env files - NEVER commit these
.env
.env.local
.env.*.local

# build
dist
dist-ssr
*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
